@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0
}

html {
    font-family: 'Roboto';
    font-size: calc(16px + 0.25vw);
    background-color: #F6F9FC;
}

main {
    min-height: calc(100vh - 177px);
}

.single-post .hero {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.single-post .hero img {
    display: none;
}

.single-post .hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(12,96,220);
    background: linear-gradient(90deg, rgba(12,96,220,1) 0%, rgba(88,69,232,1) 35%, rgba(137,51,239,1) 100%);
    opacity: 0.7;
}

.single-post h1 {
    position: absolute;
    z-index: 1;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 23ch;
    font-family: 'Roboto black';
    font-size: calc(68px + 0.25vw);
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.34);
}

.single-post .content {
    margin: auto;
    max-width: 800px
}

.single-post .content h2 {
    font-size: calc(32px + 0.25vw);
    font-family: 'Roboto Medium';
    margin: 2.5rem 0rem 1rem 0rem
}

.single-post .content p {
    line-height: 1.3rem;
    margin: 0.5rem 0rem
}

.single-post .post-info span,
.single-post .post-info a
{
    font-family: 'Roboto Medium'
}

.single-post a {
    text-decoration: none;
    color: black
}

.single-post .post-info,
.single-post .comments-section {
    max-width: 800px;
    margin: 2rem auto
}

footer {
    width: 100%;
    height: 177px;
    position: relative;
    background: rgb(12,96,220);
    background: linear-gradient(90deg, rgba(12,96,220,1) 0%, rgba(88,69,232,1) 35%, rgba(137,51,239,1) 100%);
}

footer small {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.articles .image-container {
    width: 260px;
    height: 240px;
    min-width: 260px;
    min-height: 240px;
    margin-right: 1rem
}

.articles .image-container img {
    width: 100%;
    height: 100%
}

.articles li {
    list-style: none;
    margin: 2rem 0rem
}

.articles .article {
    display: flex;
    align-items: center
}

.articles a {
    text-decoration: none;
    color: black
}

.articles h1 {
    font-size: calc(54px + 0.25vw)
}

.articles h2 {
    margin-bottom: 0.3rem;
}

.articles span,
.articles .article-categories a {
    font-family: 'Roboto Medium'
}

.articles .description p {
    max-width: 54ch;
    margin: 0.3rem 0rem
}

.articles {
    margin: auto;
    padding-top: 2rem;
    max-width: 1200px;
}

@media screen and (max-width: 1300px) {
    .articles {
        margin: auto 2rem
    }
}

@media screen and (max-width: 900px) {
    .single-post h1 {
        font-size: calc(42px + 0.25vw)
    }

    .single-post .content,
    .single-post .post-info,
    .single-post .comments-section {
        width: 80vw
    }

    .articles .article {
        flex-direction: column;
        align-items: flex-start
    }

    .articles h2 {
        margin-top: 0.5rem
    }
}

@media screen and (max-width: 555px) {
    .single-post .hero {
        height: 300px
    }
    
    .single-post h1 {
        font-size: calc(24px + 0.25vw)
    }

    .single-post .content h2 {
        font-size: calc(20px + 0.25vw)
    }

    .articles {
        margin: auto 1rem;
        padding-top: 0;
    }
}